<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New User to DB</title>
</head>
<body>
    <h1>Add New User To DB</h1>
    <form method="post" action="/user/adduser">
        <input type="email" name="email", placeholder="enter email"><br><br>
        <input type="text" name="username" placeholder="enter username"><br><br>
        <input type="password" name="password" placeholder="enter password"><br><br>
        <button>Add</button>
        <button><a href="http://localhost:8080/user">Back</a></button>
    </form>
</body>
</html>